.container {
	width: 100%;
	padding: 10px 0 0;
}

.button {
	display: inline-block;
	border: none;
	background: transparent;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 13px;
	text-decoration: underline;
}

.button:active, .button:focus {
	outline: none;
	border: none;
}